# specific folders/files
/petsc
/matrices/mtx_to_bin.ipynb

# object files
*.o

# executables / binaries
mtx_to_bin_mat
mtx_to_bin_vec
experiments
*.out
*.exe

# matrices files 
/matrices/bin/
/matrices/mtx/
/matrices/tmp

# backup / temp
*~
.DS_Store
